.bigContainer {
  display: flex;
  flex-direction: row;
}
.rightcontainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 70px;
  margin-right: 10px;
  border: 1px solid silver;
  border-radius: 10px;
  height: 80vh;
  position: sticky;
  top: 70px;
}
.rightcontainer p {
  margin: 5px auto;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px dashed silver;
}
.buttonContainer button {
  width: 130px;
  background: none;
  margin: 3px auto;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgba(227, 136, 0, 0.623);
}
.buttonContainer button:last-child {
    background-color: #9bd6e199;
}
.buttonContainer button:last-child:hover{
    background-color: #9bd7e1ca;
}
.buttonContainer button:hover {
  background-color: rgb(227, 136, 0);
}
.leftcontainer {
  display: flex;
  flex: 3;
  width: fit-content;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 0;
}
.phrases {
  margin: 200px auto;
  transition: all 1s ease;
}
.loadingContainer {
  text-align: center;
  margin: 0 auto;
  padding: 1px;
}
.loadingContainer h2 {
  position: fixed;
  top: 360px;
}
.searchContainer {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  text-align: center;
}
.searchContainer input {
  border: none;
  text-align: center;
  border-bottom: 1px solid silver;
  outline: none;
}
.searchContainer input::placeholder {
  text-align: center;
}
.searchContainer button {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
}
.searchIcon {
  width: 20px;
  height: 20px;
  transition: all .13s ease;
}
.searchIcon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
