.container {
    backdrop-filter: blur(8px);
    padding: 10px;
    display: flex;
    position: fixed;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.container button {
    background: none;
    border: none;
    cursor: pointer;
}
.profileLogo {
    width: 30px;
    height: 30px;
    color: black;
    margin-left: 10px;
    transition: all .2s ease;
}
.profileLogo:hover {
    color: rgba(0, 0, 0, 0.677);
}
.cartLogo {
    width: 30px;
    height: 30px;
    color: black;
    margin-left: 10px;
    transition: all .2s ease;
}
.cartLogo:hover {
    color: rgba(0, 0, 0, 0.677);
}
.container h3 {
    margin: 0 auto;
}
.signoutButton {
    margin-right: 20px;
    width: 30px;
    transition: all .2s ease;
}
.signoutLogo {
    width: 30px;
    height: 30px;
}
.signoutButton:hover {
    color: rgb(94, 94, 94);
}