.bigcontainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  height: 60%;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}
.container img {
  flex: 1;
  width: 250px;
  height: 250px;
  border-right: 2px solid silver;
  border-radius: 1px;
  padding: 10px;
}
.rightContainer {
  display: flex;
  flex: 3;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.rightContainer h3 {
  border-bottom: 2px solid silver;
}
.rightContainer p {
  padding: 20px;
}
.buttonContainer button{
  transition: all .05s ease-in;
  background: none;
  border: none;
  cursor: pointer;
  background-color: #9bd6e199;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.buttonContainer button:hover{
  background-color: #9bd6e1;
}
.addButton:active {
  transform:rotate(360deg);
}
.deleteButton:active{
  transform:rotate(360deg);
}
