.container {
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    cursor: pointer;
    width: 150px;
    padding: 10px;
    text-align: center;
    margin: 70px -.5px -40px;
    display: flex;
    flex-direction: column;
    transition: all .13s ease;
}
.container:hover {
    box-shadow: -6px 11px 48px -7px rgba(0,0,0,0.58); ;
}
.container img {
    margin: 0 auto;
    width: 120px;
    height: 140px;
}