.container {
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    width: 150px;
    height: 220px;
    padding: 10px;
    text-align: center;
    margin: 70px -.5px -40px;
    display: flex;
    flex-direction: column;
    transition: all .13s ease;
}
.container:hover {
    box-shadow: -6px 11px 48px -7px rgba(0,0,0,0.58); ;
}
.container img {
    margin: 0 auto;
    width: 120px;
    height: 140px;
}
.detail {
    text-decoration: none;
    color: black;
    background-color: #9bd6e199;
    border-radius: 5px;
    width: fit-content;
    padding: 3px;
    margin: 0 auto;
    transition: all .13s ease;
}
.detail:hover {
    background-color: #9bd7e1ca;
}
.title {
    font-size: .8rem;
    font-weight: 600 ;
}